#container {
    height: 100%;
    background-color:#353535;
  }
.room-device{
    background-color: #434343;
    margin: 50% 5% 5% 5%;
    height: 72%;
    border-radius: 7px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.device{
    width: 5rem;
    border-radius: 5px;
    height: 6rem;
    background-color: rgb(250, 94, 242);
    margin: 5% 2%;
    padding: 5px;
    position: relative;
}
.on{
    background-color:white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.off{
    background-color:black;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}