#container {
    height: 100%;
    background-color:#353535;
  }
.room-device{
    background-color: #434343;
    margin: 50% 5% 5% 5%;
    height: 72%;
    border-radius: 7px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.device{
    width: 5rem;
    border-radius: 5px;
    height: 6rem;
    background-color: teal;
    margin: 5% 2%;
}