<!-- <ion-header [translucent]="true">
   <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> 
  <h1>rooms</h1>
</ion-header> -->
<div id="container">

  <div >
    <ion-card *ngFor="let room of rooms let i = index" class="cards"  (click)="openPage(i)">
      <ion-card-header text-center>
        <p>{{room[0]}}</p>
      </ion-card-header>
      <ion-card-content text-center>
        
        
      </ion-card-content>
    </ion-card>
  </div>
   
<!-- </ion-content> -->
</div>